<html lang="pt-br">

<header class="container">
    <div id="carouselMain" class="carousel carousel-dark slide" data-ride="carousel">
    <ol class="carousel-indicators" >
      <li data-target="#carouselMain" data-slide-to="0" class="active"></li>
      <li data-target="#carouselMain" data-slide-to="1" class="active"></li>
      <li data-target="#carouselMain" data-slide-to="2" class="active"></li>
    </ol>
  <div class="carousel-inner">
    <div class="carousel-item active text-center" data-interval="300">
      <img src="/assets/FOTO5.jpg" alt="" class="img-fluid d-none d-md-block">



    </div>
    <div class="carousel-item text-center" data-interval="3000">
      <img src="/assets/FOTO6.jpg" alt="" class="img-fluid d-none d-md-block">



    </div>
    <div class="carousel-item  text-center" data-interval="3000">
      <img src="/assets/FOTO8.jpg" alt="" class="img-fluid d-none d-md-block">


    </div>
  </div>
  </div>
  <div class="jumbotron">
    <h1 class="display-4">DrogariaTech</h1>
    <p class="lead">O prestígio junto aos clientes fazem da DrogariaTech um comércio em crescimento constante, baseado no diferencial da qualidade e atendimento.</p>
    <hr class="my-4">
    <p> Temos o compromisso de oferecer produtos de qualidade, atendimento especializado e uma variada linha de produtos, sempre empenhada em transmitir confiança e garantir qualidade aos nossos clientes</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Leia mais</a>
  </div>

</header>


<main>


</main>


<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>

</html>
